<?xml version="1.0" encoding="utf-8" ?>
<appConfiguration>
	<welcomeMessages>
		<add _configurationName="Development" systemType="GHGPortal" value="DEVELOPMENT!!!" />
		<add _configurationName="Staging" systemType="GHGPortal" value="STAGING!!!" />
		<add _configurationName="Production" systemType="GHGPortal" value="Welcome {0}" />
	</welcomeMessages>
	<envianceDataServiceUrls>
		<add _configurationName="Staging" systemType="GHGPortal" value="https://ws-sandbox.enviance.com/2010/DataService.asmx" executionTimeout="10000" retryTimeout="1200000"   />
		<add _configurationName="Production" systemType="GHGPortal" value="https://webservices.enviance.com/2010/DataService.asmx" executionTimeout="60000" retryTimeout="1200000"  />
	</envianceDataServiceUrls>
	<envianceTreeServiceUrls>
		<add _configurationName="Staging" systemType="GHGPortal" value="https://ws-sandbox.enviance.com/2007/TreeService.asmx" />
		<add _configurationName="Production" systemType="GHGPortal" value="https://webservices.enviance.com/2007/TreeService.asmx" />
	</envianceTreeServiceUrls>
	<envianceAuthenticationServiceUrls>
		<add _configurationName="Staging" systemType="GHGPortal" value="https://ws-sandbox.enviance.com/2007/AuthService.asmx" userName="hessadmin.sb" password="password" />
		<add _configurationName="Production" systemType="GHGPortal" value="https://webservices.enviance.com/2007/AuthService.asmx" userName="hessadmin" password="password" />
	</envianceAuthenticationServiceUrls>
	<SystemAdmin>
		<add _configurationName="Staging" systemType="GHGPortal" value="nceliano@hess.com" />
		<add _configurationName="Production" systemType="GHGPortal" value="corporatebusinesssystems@hess.com" />
	</SystemAdmin>
	<SMTPServer>
		<add _configurationName="Staging" systemType="GHGPortal" value="smtp.ihess.com" />
		<add _configurationName="Production" systemType="GHGPortal" value="smtp.ihess.com" />
	</SMTPServer>
	<envianceKickoutSubject>
		<add _configurationName="Staging" systemType="GHGPortal" value="Enviance Kickout Report (TEST)" />
		<add _configurationName="Production" systemType="GHGPortal" value="Enviance Kickout Report" />
	</envianceKickoutSubject>
  <monthlyValidationReminderSubject>
    <add _configurationName="Staging" systemType="GHGPortal" value="GHG Data Warehouse – Reminder to Validate Monthly Data (TEST)" />
		<add _configurationName="Production" systemType="GHGPortal" value="GHG Data Warehouse – Reminder to Validate Monthly Data" />
  </monthlyValidationReminderSubject>
	<envianceTechnicalErrorSubject>
		<add _configurationName="Staging" systemType="GHGPortal" value="Enviance Submission System Technical Error (TEST)" />
		<add _configurationName="Production" systemType="GHGPortal" value="Enviance Submission System Technical Error" />
	</envianceTechnicalErrorSubject>
	<envianceKickoutEmailTemplate>
		<add _configurationName="Staging" systemType="GHGPortal" value="/EmailTemplate/KickoutEmailTemplate.html" />
		<add _configurationName="Production" systemType="GHGPortal" value="/EmailTemplate/KickoutEmailTemplate.html" />
	</envianceKickoutEmailTemplate>
  <monthlyValidationReminderTemplate>
    <add _configurationName="Staging" systemType="GHGPortal" value="/EmailTemplate/MonthlyValidationReminder.html" />
		<add _configurationName="Production" systemType="GHGPortal" value="/EmailTemplate/MonthlyValidationReminder.html" />
  </monthlyValidationReminderTemplate>
  <docManagerConnection>
    <add _configurationName="Staging" systemType="GHGPortal" value="http://stg-stt2.ihess.com/bladestrack/DocManagerWebServices.asmx" />
    <add _configurationName="Production" systemType="GHGPortal" value="http://stt.ihess.com/bladestrack/DocManagerWebServices.asmx" />
  </docManagerConnection>
	<errors>
		<EnvianceSubmissionErrors>
			<add key="-1" value="Invalid Tag" />
			<add key="-2" value="Invalid Batch" />
			<add key="-3" value="Technical Error" />
		</EnvianceSubmissionErrors>
	</errors>
</appConfiguration>
